body {
    padding-bottom: 20px;
}
  
.navbar {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Allerta', Georgia, Times, serif;
}

p, div {
    font-family: 'Crimson Text', Helvetica, Arial, sans-serif;
    font-size: 22px;
}
